/* Background */
body {
  background-color: #28282B;
  color: #faf9f6;
}

/* Links */
a {
  color: #915f6d;
}

a:hover {
  color: #915f6d;
}

/* Sidebar/header background */
header {
  background-color: #915f6d;
}

/* Sidebar text */
header h1,
header p {
  color: #28282B;
}
