---
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>

    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | relative_url }}">{{ site.title }}</a></h1>
        <p>{{ site.description }}</p>

          <nav class="sidebar-nav">
    <ul>
      <li><a href="{{ "/about/" | relative_url }}">About</a></li>
      <li><a href="{{ "/agreements/" | relative_url }}">Agreements</a></li>
      <li><a href="{{ "/calendar/" | relative_url }}">Calendar</a></li>
      <li><a href="{{ "/contact/" | relative_url }}">Contact</a></li>
    </ul>
  </nav>


        {% if site.logo %}
          <img src="{{ site.logo | relative_url }}" alt="Logo">
        {% endif %}

        {% if site.github.is_project_page %}
          <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub</a></p>
        {% endif %}

        {% if site.github.is_user_page %}
          <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}
      </header>

      <section>
        {{ content }}
      </section>
    </div>
  </body>
</html>
